#bodyer .top_menu {
	margin: 0;
	padding: 0;
}
#bodyer .top_menu li {
	float:left;
	margin-bottom: 10px;
	padding-right: 15px;
}
#bodyer .top_menu a {
	text-decoration: none;
	color: black;
}
#bodyer .focus5 {
	background-color: #E6BF81;
}

.task .body { 
	padding-bottom: 10px;
	margin-bottom: 10px;
	min-height: 200px;
	border-bottom: 1px solid #595557;
}
.task .clear {
	padding: 1px;
}
.task pre {
	padding: 0;
	margin: 0;
}
.task .task_edit a {
	text-decoration: none;
	color: #595557;
}
.task .task_bar {
	font-size: 14px;
	color: #595557;
}
.task .task_bar li {
	float: right;
	font-size: 14px;
	color: #595557;
	padding: 5px;
}
.task .task_bar_label {
	cursor: pointer;
}
.task .task_edit .task_edit_dpmenu {
	border: 1px solid #AD7739;
	position: absolute;
	background: white;
	color: black;
}
.task .task_edit .task_edit_dpmenu li {
	float: none;
}
